Repository andalt/create-react-app-test: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js --cache, npm run lint:css

.lintstagedrc:

{
  "*.js": "npm run lint:js --cache",
  "*.{scss,css}": "npm run lint:css"
}

Add css modules, scss, staging environment
  .env
  .env.development
  .env.production
  .env.staging
  package-lock.json
  package.json
  src/App.js
  src/App.module.scss
Due: npm run lint:js --cache, npm run lint:css

launched electron
  .env
  electron.js
  package-lock.json
  package.json
Due: npm run lint:js --cache

launched electron
  electron.js
Due: npm run lint:js --cache

cra run eject
  config/env.js
  config/getHttpsConfig.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/modules.js
  config/paths.js
  config/pnpTs.js
  config/webpack.config.js
  config/webpackDevServer.config.js
  package-lock.json
  package.json
  scripts/build.js
  scripts/start.js
  scripts/test.js
Due: npm run lint:js --cache

launched electron
  package-lock.json
Due: none

done electron builder
  .gitignore
  package-lock.json
  package.json
  public/electron.js
  src/assets/img/logo.svg
  src/css/index.css
  src/index.js
  src/renderer/components/App.js
  src/renderer/components/App.module.scss
Due: npm run lint:js --cache, npm run lint:css
